.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-family: var(--core-font);
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;

  height: 40px;
  padding: 10px 20px;
  border: 0;
  border-radius: 3px;
  outline: none;

  user-select: none;
  cursor: pointer;
}

.textButton {
  background-color: transparent;
  color: var(--pastel-brown);

  font-weight: bold;

  text-decoration: underline;
}

.solidButton {
  background-color: var(--light-brown);
  color: var(--white);
  box-shadow: var(--ui-shadow);
}

.solidButtonDisabled {
  background-color: var(--dim-grey);
  cursor: not-allowed;
}

.outlineButton {
  background-color: transparent;
  color: var(--light-brown);

  border: solid 2px var(--light-brown);
  border-radius: 3px;

  font-weight: bold;
}

.outlineButtonDisabled {
  color: var(--dim-grey);
  border: solid 2px var(--dim-grey);
  cursor: not-allowed;
}

.ctaButton {
  color: var(--white);
  box-shadow: var(--ui-shadow);

  background-color: var(--green);
  font-size: 13px;
  text-transform: capitalize;
}
