.fieldListItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

:host:last-child > .fieldListItem {
  margin-bottom: 0;
}

.fieldListItem__key {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}

.fieldListItem__success {
  margin-left: 10px;

  color: var(--green);
  letter-spacing: 0.5px;
}

.fieldListItem__danger {
  margin-left: 10px;

  color: var(--red);
  letter-spacing: 0.5px;
}

.emailListItem__verifyButton {
  margin-left: 10px;

  font-size: 16px;
  font-weight: bold;
  font-family: var(--core-font);
  color: var(--red);
  letter-spacing: 0.5px;
  text-decoration: underline;

  cursor: pointer;
}

.fieldListItem__value {
  padding: 16px 0;
  border-radius: 3px;
  border-bottom: 1px solid var(--pastel-brown);

  background: var(--cream);

  font-family: var(--core-font);
  font-size: 16px;

  outline: none;
}

.chip {
  height: 32px;

  padding-left: 16px;
  padding-right: 16px;

  border-radius: 16px;

  margin-left: 16px;

  font-family: var(--core-font);
  font-weight: bold;
  color: #451400;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 32px;

  user-select: none;
}

.chipButton {
  cursor: pointer;
}

.chipDanger {
  background-color: #ffc4c4;
  border: 1px solid #d0021b;
}

.chipSuccess {
  background-color: #e5e9d0;
  border: 1px solid #90a035;
}

.chipInfo {
  background-color: #fff;
  border: 1px solid #786259;
}
