.profileDetailsGrid {
  display: flex;
  flex-direction: column;
  padding: 16px;

  color: var(--brown);
}

.apiTesterButtons {
  display: flex;
}

.apiTesterButtons > button {
  margin-right: 16px;
}

.apiTesterResponseContainer {
  width: 100%;
  min-height: 360px;
  height: 360px;
  padding: 16px;
  margin-top: 32px;
  background: var(--dark-brown);
}

.apiTesterResponse {
  display: table;
  width: 100%;

  color: var(--white);
  font-size: 16px;
  letter-spacing: 0.5px;
  font-family: var(--mono-font);
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .profileDetailsGrid {
    grid-template-columns: 1fr;
  }
}
